<article {{ attributes }}>
  {{ title_suffix }}
  <div {{ content_attributes }}>
    {{ test_block1 }}
    {{ content }}
    {{ body_value }}
    {{ course_text }}

    {{ form }}

  </div>
</article>
